<!DOCTYPE html>
<html>
  <head>
    <h1>User Books</h1>
  </head>

  <body>
    <% @users.each do |book| %>
      <tr>
        <td><%= book.title %></td>
      <td class="actions">
        <%= link_to("Show", user_path(user), :class => 'action show') %>
        <%= link_to("Edit", edit_user_path(user), :class => 'action edit') %>
        <%= link_to("Destroy", delete_user_path(user), :class => 'action delete') %>
      </td>
      <%= yield %>
      </tr>
    <% end %>
  </body>
  <%= link_to 'New User Book', new_book_path %><br>
  <%= link_to 'Book index', book_path %><br>
  <%= link_to 'User index', user_index %>
</html>


